.categories-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30em;
}

.categories-bar p {
    font-size: 1.2em;
    font-family: 'Comfortaa', cursive;
}

.categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
}

.category {
    color: #3C3C3C;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;
    margin-right: 0.5em;

    font: inherit;
    color: #3C3C3C;
    width: 1em;
    height: 1em;
    border: 0.1em solid #3C3C3C;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    background-color: #3C3C3C;
    width: 0.6em;
    height: 0.6em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

@media only screen and (max-width: 768px) {
    .categories-bar {
        width: 25em;
    }

    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 480px) {

    .categories-bar {
        font-size: 0.9em;
        width: 20em;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
}